page-contact {
  background-color: #c6ced2;
  .compte-card{
    padding: 10px;
    border-left: 5px solid #004a7c;
    border-radius: 0px;
  }
  .contact-icon{
    font-size:35px;
    color: #004a7c;
  }

  .para{
    font-size: 110%;
    font-weight: 600;
    color: #545454;
  }
  .avis{
    font-size: 110%;
    font-weight: 600;
    color:#004a7c;
  }
}
